<!-- Panel Row Template - Used by PanelRenderer.js -->
<div class="panel-row {{SELECTED_CLASS}}" data-panel-id="{{PANEL_ID}}">
    <div class="list-column list-select">
        <input type="checkbox" {{CHECKED}} 
               onchange="panelLibrary.togglePanelSelection({{PANEL_ID}})" />
    </div>
    <div class="list-column list-name">
        <div class="row-title" onclick="panelLibrary.openPanel({{PANEL_ID}})">
            {{PANEL_NAME}}
        </div>
        <div class="row-description">
            {{PANEL_DESCRIPTION}}
        </div>
    </div>
    <div class="list-column list-genes">
        <i class="fas fa-dna"></i>
        <span>{{GENE_COUNT}}</span>
    </div>
    <div class="list-column list-source">
        {{SOURCE_TYPE}}
    </div>
    <div class="list-column list-updated">
        {{UPDATED_DATE}}
    </div>
    <div class="list-column list-sharing">
        <i class="fas {{SHARING_ICON}}" title="{{VISIBILITY}}"></i>
    </div>
    <div class="list-column list-actions">
        <button class="btn btn-sm" onclick="panelLibrary.showPanelDetails({{PANEL_ID}})">
            <i class="fas fa-eye"></i>
        </button>
        <button class="btn btn-sm" onclick="panelLibrary.showVersionTimeline({{PANEL_ID}})">
            <i class="fas fa-history"></i>
        </button>
        <div class="dropdown">
            <button class="btn btn-sm" onclick="panelLibrary.toggleDropdown(this)">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu hidden">
                <li><a class="dropdown-item" href="#" onclick="panelLibrary.editPanel({{PANEL_ID}})">
                    <i class="fas fa-edit"></i> Edit
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="panelLibrary.duplicatePanel({{PANEL_ID}})">
                    <i class="fas fa-copy"></i> Duplicate
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="panelLibrary.sharePanel({{PANEL_ID}})">
                    <i class="fas fa-share"></i> Share
                </a></li>
                <li><a class="dropdown-item" href="#" onclick="panelLibrary.exportPanel({{PANEL_ID}})">
                    <i class="fas fa-download"></i> Export
                </a></li>
                <li><hr class="my-1"></li>
                <li><a class="dropdown-item text-red-600" href="#" onclick="panelLibrary.deletePanel({{PANEL_ID}})">
                    <i class="fas fa-trash"></i> Delete
                </a></li>
            </ul>
        </div>
    </div>
</div>
