@import "tailwindcss";

.btn-clear {
    @apply px-3 py-1 text-xs font-medium text-red-600 bg-red-100 border border-red-300 rounded-md hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-red-500 transition ease-in-out duration-150;
  }
.btn-clear-all {
    @apply w-full sm:w-auto inline-flex justify-center items-center px-6 py-2 border border-orange-400 text-sm font-medium rounded-md shadow-sm text-orange-700 bg-orange-100 hover:bg-orange-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 transition duration-150 ease-in-out;
 }
